# Auto detect text files and perform LF normalization
* text=auto
<!DOCTYPE html>
<html>
    <head>
        <meta name= "keywords" content= "code, like, girl, auta"
        <meta neme= ""
        <title>AUTA</title>
    </head>
    <body>
    </body>
</html>
